src/**
tests/**
coverage/**
.gitignore
.vscodeignore
.env*
.vercel/**
dist/*
!dist/syntaxes/**
!dist/extension.js
*.ts
tsconfig.json
vitest.config.ts
node_modules/.vite/**
node_modules/.cache/**
node_modules/@types/**
node_modules/typescript/**
node_modules/vitest/**
node_modules/@vitest/**
node_modules/vite/**
node_modules/esbuild/**
*.tgz
*.vsix
